{% extends 'base.html.twig' %}

{% set title = title|default('') %}
{% set classAccueil = classAccueil|default('') %}

{% block title %}
	{{title}}
{% endblock %}

{% block body %}
	{% include 'components/navigation/topNav.html.twig' %}
	{% include 'components/navigation/sideBar.html.twig' %}

	<div class="p-6 space-y-6 lg:ml-72">
		{% block main %}{% endblock %}
	</div>

	{% include 'components/navigation/bottomNav.html.twig'  with {
		'classAccueil': classAccueil
	} %}
    <script>
        // Code pour vider le cache une seule fois au chargement de la page
        document.addEventListener('DOMContentLoaded', function () {
            // Efface le cache
            if ('caches' in window) {
                caches.keys().then(function (cacheNames) {
                    cacheNames.forEach(function (cacheName) {
                        caches.delete(cacheName);
                    });
                });
            }
        });
    </script>
{% endblock %}
