	<button type="button" class="inline-flex flex-col items-center justify-center w-12 h-12 rounded-full bg-purple-500 text-white">
		<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="w-6 h-6 text-white">
			<path stroke-linecap="round" stroke-linejoin="round" d="M12 4.5v15m7.5-7.5h-15"/>
		</svg>
	</button>
