{% embed "layouts/layout_nav.html.twig" with {
	title: "Error 404"
} %}
	{% block main %}
		<div class="p-6 space-y-6 max-w-lg flex flex-col justify-center">
			<div>
				<h2 class="text-3xl font-semibold dark:text-purple-300">Erreur 404</h2>
				<h2 class="text-3xl font-semibold dark:text-purple-300">Page non trouvée</h2>
			</div>
			<div class="flex justify-center">
				<div class="w-80 h-80">
					<img class="w-full h-full object-cover" src="images/404.png"/>
				</div>
			</div>
		</div>
	{% endblock %}
{% endembed %}
